* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #3178c6;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");

}
#b-body {
    width: 1200px;
    margin: 5px auto;
    height: auto;
}
header {
   width: 1200px; 
   height: 80px;
   background-color: #69acc1;
}

.logo {
    width: 200px;
    float: left;
    height: 80px;
}
.top {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 28px;
    color:  #b2aeb2;
    text-decoration: none;
    cursor: pointer;
}
.type {
    color: #fff ;
}
.script {
    color: cyan; 
}
.test {
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 13px;
    color: white;
}

.top-menu {
    width: 685px;
    height: 80px;
    float: left;
}

.top-menu ul li {
    list-style: none;
    float: left; 
    text-align: center;
}

.top-menu ul li a {
    display: block;
    width: 171px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 17px;
    color: white;
    height: 55px;
    padding-top: 25px;
    cursor: pointer;
}

.top-menu ul li a:hover{
    background: rgb(91, 209, 255);
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.contact {
    width: 100px;
    float: right;
    margin-left: 40px;
    height: 80px;
}

.contact p {
    margin-top: 12px;
    text-align: left;
    margin-bottom: 8px;
}

.contact a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.contact a:hover {
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    color: cyan;
}

.container{
    background-color: #e1f7ff;
    max-width: 1200px;
    height: auto;
    padding-bottom: 5px;
    margin: 5px auto;
}

.contents {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.t-content {
    font-family: sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: rgb(182, 235, 236);

}

.b-content {
    margin-left: 10px;
    padding: 5px;
    color: #fff;
}

.content {
    display: inline-block;
    width: 300px;
    height: 200px;
    background-color: rgba(105, 172, 193, 0.7);
    margin-left: 15px;
    margin-top: 50px;
    padding: 10px;
    padding-left: 20px;
    font-family: sans-serif;
}

.c-min {
    min-width: 120px;
    min-height: 120px;
    padding: 16px;
    margin: 10px;
    float: left;
    text-align: justify;
}

.c-min h3 {
    display: block;
    padding: 5px;
    text-align: center;
}

.c-min p {
    display: block;
    font-size: 13px;
    text-align: justify;
}
 
.c-min h3 p {
    display: inline;
    font-family: sans-serif;
    text-align: justify;
    padding: 20px;
    margin: 15px;
}

.content ul li {
    text-align: left;
}

.first .second .third .fourth {
    display: block;
    width: 800px;
    height: 600px auto;
    margin: 15px;
    padding: 5px;
    background-color: rgba(105, 172, 193, 0.7);
}

.first h1 {
    display: block;
    width: 100px auto;
    height: 30px auto;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-family: sans-serif;
    color: #fff;
}

.first p {
    display: block;
    font-family: sans-serif;
    margin: 5px;
    text-align: justify;
}

/* .second {
    display: block;
    width: 800px;
    height: 600px auto;
    margin: 15px;
    padding: 5px;
    background-color: rgba(105, 172, 193, 0.7);
} */

.second h1 {
    display: block;
    width: 100px auto;
    height: 30px auto;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-family: sans-serif;
    color: #fff;
}

.second h2 {
    display: block;
    width: auto;
    height: auto;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: #fff;
}

.second p {
    display: block;
    font-family: sans-serif;
    margin: 5px;
    text-align: justify;
}

.type {
    text-align: center;
}

.type p {
    text-align: center;
}

.OOP {
    text-align: center;
}

.OOP p {
    text-align: center;
    color: white;
}

.mods {
    text-align: center;
}

.mods p {
    text-align: center;
    color: white;
}

/* .third {
    display: block;
    width: 800px;
    height: 600px auto;
    margin: 15px;
    padding: 5px;
    background-color: rgba(105, 172, 193, 0.7);
} */

.third h1 {
    display: block;
    width: 100px auto;
    height: 30px auto;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-family: sans-serif;
    color: #fff;
}

.third p {
    display: block;
    font-family: sans-serif;
    margin: 5px;
    text-align: justify;
}

.third ul li {
    font-family: sans-serif;
    margin-left: 15px;
    text-align: justify;
}

/* .fourth {
    display: block;
    width: 800px;
    height: 600px auto;
    margin: 15px;
    padding: 5px;
    background-color: rgba(105, 172, 193, 0.7);
} */

.fourth h1 {
    display: block;
    width: 100px auto;
    height: 30px auto;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-family: sans-serif;
    color: #fff;
}

.fourth p {
    display: block;
    font-family: sans-serif;
    margin: 5px;
    text-align: justify;
}

.fourth ul li {
    font-family: sans-serif;
    margin-left: 15px;
    text-align: justify;
}

.fourth-l {
    display: block;
    width: auto;
    height: auto;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
}

.fourth button {
    background-color: #008CBA;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 28px;
    margin-left: 275px;
    text-align: center;
}

button:hover {
    background-color: cyan;
    color: white;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.card {
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(105, 172, 193, 0.7);
    border-radius: 10px
}

.card-photo {
    display: block;
    width: 480px;
    height: 320px;
    margin: 0 auto;
    /* border-radius: 20%; */
}

.card-title {
    font-size: 20px;
    text-align: center;
    font-style: Arial;
    color:black;
}

.card-text {
    font-size: 18px;
}

.card-subtitle {
    font-size: 18px;
    color: rgb(75, 75, 75)
}

.card-list {
    padding-left: 0;
    list-style-position: inside;
    font-size: 18px;
}

.footer-bg {
    background-color: #e1f7ff;
    width: 1200px;
    height: 35px;
    margin: 5px auto;
    padding: 10px auto;
}
